{% extends "layout.html" %}

{% block pageTitle %}
  Component editor - {{ name }}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/">Components</a>
{% endblock %}

{% block content %}

<form action="" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <h1 class="govuk-heading-l">
        {{ name|capitalize }}
      </h1>

     {% for option in options %}

        {% if not option.advanced  %}

          <div>
              {% if option.type == "string" %}
                {{ govukInput({
                  label:{
                    text: option.name
                  },
                  name: componentName + "[" + option.name + "]",
                  id: option.name,
                  value: data[componentName][option.name]
                }) }}
              {% elseif option.type == "boolean" %}
      
                {{ govukRadios({
                  classes: "govuk-radios--inline",
                  idPrefix: option.name,
                  name: componentName + "[" + option.name + "]",
                  fieldset: {
                    legend: {
                      text: option.name
                    }
                  },
                  items: [
                    {
                      value: "true",
                      text: "On",
                      checked: checked(componentName + "[" + option.name + "]", "true")
                    },
                    {
                      value: "",
                      text: "Off",
                      checked: checked(componentName + "[" + option.name + "]", "")
                    }
                  ]
                }) }}

              {% elseif option.type == "object" and option.isComponent != true %}

                <div class="govuk-inset-text">
                  <h2 class="govuk-heading-s">
                    {{ option.name }}
                  </h2>
                    {% for param in option.params %}

                      {% if not param.advanced  %}

                        {% if param.type == "string" %}
                          {{ govukInput({
                            label:{
                              text: param.name
                            },
                            name: componentName + '[' + option.name + '][' + param.name + ']',
                            id: param.name,
                            value: data[componentName][option.name][param.name]
                          }) }}
                        {% elseif param.type == "boolean" %}
                
                          {{ govukRadios({
                            classes: "govuk-radios--inline",
                            idPrefix: option.componentName + '[' + param.name +']',
                            name: componentName + '[' + option.name + '][' + param.name + ']',
                            fieldset: {
                              legend: {
                                text: param.name
                              }
                            },
                            items: [
                              {
                                value: "true",
                                text: "On"
                              },
                              {
                                value: "",
                                text: "Off"
                              }
                            ]
                          }) }}
                        {% endif %}
                      
                      {% endif %}

                    {% endfor %}

                </div>

              {% elseif option.type == "array" %}

                <div class="govuk-inset-text">
                  <h2 class="govuk-heading-s">
                    {{option.name}}
                  </h2>

                  {% set length = getCounter(name, option.name) %}

                  {% for index in range(0, length) %}

                    <div class="app-list-row-header">

                      <h2 class="govuk-heading-s app-list-index">
                        {{index+1}}
                      </h2>

                      {% if length > 1 %}

                        {{ govukButton({
                          text: "Remove",
                          classes: "govuk-button--secondary govuk-body-s app-list-remove",
                          name: "remove",
                          value: option.name + "," + index
                        }) }}

                      {% endif %}

                    </div>

                    {% for param in option.params %}

                      {% if not param.advanced  %}

                        {% if param.type == "string" %}
                          {{ govukInput({
                            label:{
                              text: param.name
                            },
                            name: componentName + '[' + option.name + '][' + index + '][' + param.name + ']',
                            id: param.name,
                            value: data[componentName][option.name][index][param.name]
                          }) }}
                        {% elseif param.type == "boolean" %}
                
                          {{ govukRadios({
                            classes: "govuk-radios--inline",
                            idPrefix: option.componentName + '[' + param.name +']',
                            name: componentName + '[' + option.name + '][' + index + '][' + param.name + ']',
                            fieldset: {
                              legend: {
                                text: param.name
                              }
                            },
                            items: [
                              {
                                value: "true",
                                text: "On",
                                checked: checked(componentName + '[' + option.name + '][' + index + '][' + param.name + ']', "true")
                              },
                              {
                                value: "",
                                text: "Off",
                                checked: checked(componentName + '[' + option.name + '][' + index + '][' + param.name + ']', "")
                              }
                            ]
                          }) }}
                        {% endif %}

                      {% endif %}

                    {% endfor %}
                  
                  {% endfor %}

                  {{ govukButton({
                    text: "Add another",
                    classes: "govuk-button--secondary",
                    name: "add-another",
                    value: option.name
                  }) }}

                </div>

              {% endif %}
            </span>
          </div>

        {% endif %}

     {% endfor %}

    </div>
    <div class="govuk-grid-column-one-half preview">
      <div class="inner">
        
        <h2 class="govuk-heading-m">
          Preview
        </h2>

        {{ getContext(macroName)(data[componentName]) }}

        <div>
          {{ govukButton({
            text: 'Update',
            classes: 'govuk-!-margin-top-5 govuk-!-margin-bottom-0'
          })}}
        </div>

            <div class="app-example-wrapper" id="{{ exampleId }}" data-module="app-tabs">
              <ul class="app-tabs" role="tablist">
                <li class="app-tabs__item js-tabs__item{{ " js-tabs__item--open" if (params.open) }}" role="presentation"><a href="#{{ exampleId }}-html" role="tab" aria-controls="{{ exampleId }}-html" data-track="tab-html">HTML</a></li>
                <li class="app-tabs__item js-tabs__item" role="presentation"><a href="#{{ exampleId }}-nunjucks" role="tab" aria-controls="{{ exampleId }}-nunjucks" data-track="tab-nunjucks">Nunjucks</a></li>
              </ul>
            
              <div class="app-tabs__heading js-tabs__heading{{ " js-tabs__heading--open" if (params.open) }}"><a href="#{{ exampleId }}-html" role="tab" aria-controls="{{ exampleId }}-html" data-track="tab-html">HTML</a></div>
              <div class="app-tabs__container js-tabs__container{{ " js-tabs__container--no-tabs" if (params.hideTab) }}" id="{{ exampleId }}-html" role="tabpanel">
                <div class="app-example__code">
                  <pre data-module="app-copy" tabindex="0"><code class="hljs html">
                    {{- getContext(macroName)(data[componentName])|forceescape -}}
                  </code></pre>
                </div>
              </div>
            
              <div class="app-tabs__heading js-tabs__heading"><a href="#{{ exampleId }}-nunjucks" role="tab" aria-controls="{{ exampleId }}-nunjucks" data-track="tab-nunjucks">Nunjucks</a></div>
              
              <div class="app-tabs__container js-tabs__container{{ " js-tabs__container--no-tabs" if (params.hideTab) }}" id="{{ exampleId }}-nunjucks" role="tabpanel">
              
                <div class="app-example__code">
                  <pre data-module="app-copy" tabindex="0"><code class="hljs js">
{{macroName}}({{data[componentName]|renderJSON}})
                  </code></pre>
                </div>
              </div>
              
            </div>
        
      </div>
    </div>
  </div>

</form>

{% endblock %}
