
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Frontend Component Editor
      </h1>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/components/accordion">
            Accordion
          </a>
        <li>
          <a href="/components/back-link">
            BackLink
          </a>
        <li>
          <a href="/components/breadcrumbs">
            Breadcrumbs
          </a>
        <li>
          <a href="/components/button">
            Button
          </a>
        <li>
          <a href="/components/character-count">
            CharacterCount
          </a>
        <li>
          <a href="/components/checkboxes">
            Checkboxes
          </a>
        <li>
          <a href="/components/date-input">
            DateInput
          </a>
        <li>
          <a href="/components/details">
            Details
          </a>
        <li>
          <a href="/components/error-message">
            ErrorMessage
          </a>
        <li>
          <a href="/components/error-summary">
            ErrorSummary
          </a>
        <li>
          <a href="/components/fieldset">
            Fieldset
          </a>
        <li>
          <a href="/components/fileUpload">
            FileUpload
          </a>
        <li>
          <a href="/components/input">
            Input
          </a>
        <li>
          <a href="/components/insetText">
            InsetText
          </a>
        <li>
          <a href="/components/panel">
            Panel
          </a>
        <li>
          <a href="/components/phaseBanner">
            PhaseBanner
          </a>
        <li>
          <a href="/components/radios">
            Radios
          </a>
        <li>
          <a href="/components/select">
            Select
          </a>
        <li>
          <a href="/components/skipLink">
            SkipLink
          </a>
        <li>
          <a href="/components/summaryList">
            SummaryList
          </a>
        <li>
          <a href="/components/table">
            Table
          </a>
        <li>
          <a href="/components/tabs">
            Tabs
          </a>
        <li>
          <a href="/components/tag">
            Tag
          </a>
        <li>
          <a href="/components/textarea">
            Textarea
          </a>
        <li>
          <a href="/components/warningText">
            WarningText
          </a>
      </ul>
    </div>
  </div>

{% endblock %}
